html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    width: 98.5vw;
    height: 54px;
    background-color: #262626;
    position: relative;
    position: fixed;
    z-index: 5;
}
header img{
    width: 152px;
    height: 18px;
    margin: 18px 20px;
}
header a{
    margin-right:20px ;
    color: white;
    background-color: #82b440;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    transition: 300ms;
}
header a:hover{
    background-color: #74a534;
    transition: 300ms;
}
.header img{
    width: 88px;
    height: 25.29px;
    margin-left: 15px;
    margin-top: 10px;
}
.photo{
    width: 98.5vw;
    height: 550px;
    background: url(Rapper.jpg) no-repeat;
    background-size: cover;
} 
.photo .opacity{
    width: 98.5vw;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.707);
}
.header {
    position: fixed;
    top: 54px;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.293);
    height: 55px;
    z-index: 4;
}
.header ul{
    display: flex;
    font-family: "Poppins", sans-serif;
    list-style: none;
    margin-left:400px;
    margin-top: -20px;
    font-size: 12px;
    font-weight: 600;
}
.header a{
    text-decoration: none;
}
.header li{
    margin-right: 35px;
    color: #fff;
    transition: 800ms;
}
.header li:hover{
    color: rgb(194, 194, 194);
}
.title{
    position: absolute;
    top: 150px;
    left: 300px;
}
.title p:nth-of-type(2){
    font: 24px "Poppins", sans-serif;
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 60px;
}
.title p:nth-of-type(1){
    font: 16px "Poppins", sans-serif;
    color: #f8f8f8;
    text-align: center;
}
.title h1{
    font: 50px "Poppins", sans-serif;
    color: #f8f8f8;
    font-weight: 600;
}
.title a{
    font: 16px "Poppins", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 18px 52px;
    background-color: #56cfe1;
    border-radius: 50px  ;
    transition: 800ms;
}
.title a:nth-of-type(1){
    border: #56cfe1 2px solid;
    margin-right: 20px;
    margin-left: 120px;

}
.title a:nth-of-type(2){
    background-color: transparent;
    border: #fff 2px solid;
}
.title a:nth-of-type(1):hover{
    background-color:#3092a1;
    border-color: #3092a1;
}
.title a:nth-of-type(2):hover{
    border: #56cfe1 2px solid;
    background-color: #56cfe1;
}
.claue_title{
    width: 592px;
    height: 350px;
}
.claue_title h1{
    font: 24px "Poppins", sans-serif;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}
.claue{
    display: flex;
}
.claue img{
    width: 631px;
    height: 350px;
}
.claue_title p:nth-of-type(1){
    font: 18px "Poppins", sans-serif;
    color: #415b5b;
    margin-left: 40px;
    line-height: 27px;
}
.claue_title p:nth-of-type(1) b{
    color: #000;
}
.claue_title p:nth-of-type(2){
    font: 18px "Poppins", sans-serif;
    color: #415b5b;
    margin-left: 40px;
    line-height: 27px;
}
.claue_title ul{
    font: 18px "Poppins", sans-serif;
    color: #415b5b;
    margin-left: 30px;
}
.claue_title li{
    margin-bottom: 7px;
}
.claue_title p:nth-of-type(3){
    font: 17px "Poppins", sans-serif;
    color: #415b5b;
    margin-left: 40px;
}
.demos{
    background-color: #e7f1f3;
}
.claue_2_demos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.claue_2_demos h3{
    font: 40px "Poppins", sans-serif;
    color: #606c6c;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.claue_2_demos p{
    font: 16px "Playfair Display";
    color: #7e8888;
    font-style: italic;
    width: 600px;
    text-align: center;
    font-weight: 600;
    margin-top:0 ;
    line-height: 25px;
}
.photo_container div{
    display: inline-block;
    width: 357px;
    height: 183px;
    margin: 20px 20px 60px 20px;
}
.photo_container{
    margin-left: 20px;
}
.photo_container img{
    width: 357px;
    height: 183px;
}
.photo_container a{
    text-decoration: none;
    font-size: 18px;
    color: #222;
    text-align: center;
    font-weight: 600;
    display: block;
    padding-top: 7px;
    letter-spacing: -1px;
    font-family:"Poppins", sans-serif ;
}
.photo_container div:hover a{
    color: #337ab7;

}
.blure1{
    width: 350px;
    height: 180px;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    transition: 600ms;
}
.img-claue1:hover .blure1{
    background-color: rgba(0, 0, 0, 0.299);
}
.img-claue1{
    position: relative;
}

.img-claue1 .demo1{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius:25px ;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}

.img-claue1:hover .demo1{
    display: block;
    color: #fff;
    z-index: 4;

}
.img-claue1{
    position: relative;
}
.img-claue2{
    position: relative;
}
.img-claue2 .demo2{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo1:hover{
    background-color: #519adb;
    border-color: #519adb;
}
.demo2:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue2:hover .demo2{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure2{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue2:hover .blure2{
    background-color: #0000004c;
}

.img-claue3{
    position: relative;
}
.img-claue3 .demo3{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo3:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue3:hover .demo3{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure3{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue3:hover .blure3{
    background-color: #0000004c;
}
.img-claue4{
    position: relative;
}
.img-claue4 .demo4{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo4:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue4:hover .demo4{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure4{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue4:hover .blure4{
    background-color: #0000004c;
}

.img-claue5{
    position: relative;
}
.img-claue5 .demo5{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo5:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue5:hover .demo5{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure5{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue5:hover .blure5{
    background-color: #0000004c;
}

.img-claue6{
    position: relative;
}
.img-claue6 .demo6{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo6:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue6:hover .demo6{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure6{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue6:hover .blure6{
    background-color: #0000004c;
}

.img-claue7{
    position: relative;
}
.img-claue7 .demo7{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo7:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue7:hover .demo7{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure7{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue7:hover .blure7{
    background-color: #0000004c;
}

.img-claue8{
    position: relative;
}
.img-claue8 .demo8{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo8:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue8:hover .demo8{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure8{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue8:hover .blure8{
    background-color: #0000004c;
}

.img-claue9{
    position: relative;
}
.img-claue9 .demo9{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo9:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue9:hover .demo9{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure9{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue9:hover .blure9{
    background-color: #0000004c;
}

.img-claue10{
    position: relative;
}
.img-claue10 .demo10{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo10:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue10:hover .demo10{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure10{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue10:hover .blure10{
    background-color: #0000004c;
}
.img-claue11{
    position: relative;
}
.img-claue11 .demo11{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo11:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue11:hover .demo11{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure11{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue11:hover .blure11{
    background-color: #0000004c;
}
.img-claue12{
    position: relative;
}
.img-claue12 .demo12{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo12:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue12:hover .demo12{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure12{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue12:hover .blure12{
    background-color: #0000004c;
}
.img-claue13{
    position: relative;
}
.img-claue13 .demo13{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius:25px ;
    padding: 10px 30px;
    font-size: 14px;
    color: #fff;
    display: none;
    transition: 600ms;
}
.demo13:hover{
    background-color: #519adb;
    border-color: #519adb;
    transition: 500ms;
}

.img-claue13:hover .demo13{
    display: block;
    color: #fff;
    z-index: 4;
}
.blure13{
    position: absolute;
    top: -20px;
    left: -20px;
    transition: 600ms;
    
}
.img-claue13:hover .blure13{
    background-color: #0000004c;
}
.demos-title h2{
    font: 40px "Poppins", sans-serif;
    color: #606c6c;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.demos-title p{
    font: 16px "Playfair Display";
    color: #7e8888;
    font-style: italic;
    width: 600px;
    text-align: center;
    font-weight: 600;
    margin-top:0 ;
    line-height: 25px;
}
.demos-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.market{
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
}

.home_market{
    position: relative;
    width:350px;
    height: 180px;
    text-align: center;
    margin-right: 20px ;
    box-shadow: 1px 1px 5px 1px rgb(216, 216, 216);

}
.home_market img{
    width: 350px;
    height: 180px;
}
.link_no1{
    width: 350px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms;
}
.home_market a:nth-of-type(1){
    position: absolute;
    top: 100px;
    left: 20px;    
    padding: 10px 30px;
    background-color: #ddd;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: 500ms;
    display: none;
}
.home_market a:nth-of-type(2){
    position: absolute;
    top: 100px;
    left: 170px; 
    padding: 10px 30px;
    background-color: transparent;   
    border-radius: 20px;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: 600;
    color: #ddd;
    transition: 500ms;
    display: none;
}
.home_market:hover .link_no1{
    background-color: #0000004c;
}
.home_market a:nth-of-type(2):hover{
    background-color: #56cfe1;
    border-color: #56cfe1;
}
.home_market:hover .a1{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home_market a:nth-of-type(3){
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: 600;
}
.home_market:hover a:nth-of-type(3){
    color: #56cfe1;
    
}
.home_market2{
    position: relative;
    width:350px;
    height: 180px;
    text-align: center;
    margin-right: 20px;
    box-shadow: 1px 1px 5px 1px rgb(216, 216, 216);

}
.home_market2 img{
    width: 350px;
    height: 180px;
}
.link_no2{
    width: 350px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms;
}
.home_market2 a:nth-of-type(1){
    position: absolute;
    top: 100px;
    left: 30px;    
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    transition: 500ms;
    display: none;
}
.home_market2 a:nth-of-type(2){
    position: absolute;
    top: 100px;
    left: 180px; 
    padding: 10px 30px;
    background-color: transparent;   
    border-radius: 20px;
    border: 2px solid #ddd;
    text-decoration: none;
    font-weight: 600;
    color: #ddd;
    transition: 500ms;
    display: none;
}
.home_market2:hover .link_no2{
    background-color: #0000004c;
}
.home_market2 a:nth-of-type(1):hover{
    background-color: #56cfe1;
    border-color: #56cfe1;
}
.home_market2 a:nth-of-type(2):hover{
    background-color: #56cfe1;
    border-color: #56cfe1;
}
.home_market2:hover .a2{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home_market2 a:nth-of-type(3){
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: 600;
}
.home_market2:hover a:nth-of-type(3){
    color: #56cfe1;
    
}
.home_market3{
    position: relative;
    width:350px;
    height: 180px;
    text-align: center;
    margin-right: 20px ;
    box-shadow: 1px 1px 5px 1px rgb(216, 216, 216);

}
.home_market3 img{
    width: 350px;
    height: 180px;
}
.link_no3{
    width: 350px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms;
}
.home_market3 a:nth-of-type(1){
    position: absolute;
    top: 100px;
    left: 30px;    
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    transition: 500ms;
    display: none;
}
.home_market3 a:nth-of-type(2){
    position: absolute;
    top: 100px;
    left: 180px; 
    padding: 10px 30px;
    background-color: transparent;   
    border-radius: 20px;
    border: 2px solid #ddd;
    text-decoration: none;
    font-weight: 600;
    color: #ddd;
    transition: 500ms;
    display: none;
}
.home_market3:hover .link_no3{
    background-color: #0000004c;
}
.home_market3 a:nth-of-type(1):hover{
    background-color: #56cfe1;
    border-color: #56cfe1;
}
.home_market3 a:nth-of-type(2):hover{
    background-color: #56cfe1;
    border-color: #56cfe1;
}
.home_market3:hover .a3{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home_market3 a:nth-of-type(3){
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: 600;
}
.home_market3:hover a:nth-of-type(3){
    color: #56cfe1;
}
.page-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#front-end_page_builder{
    background-color: #e7f1f3;
    display: flex;
    flex-direction: column;    
     align-items: center;
    justify-content: center;

}
.page-title h2{
    font: 40px "Poppins", sans-serif;
    color: #606c6c;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.page-title p{
    font-family: "Playfair Display";
    font-style: italic;
    color: #7e8888;
    font-size: 18px;  
    text-align: center;
    width: 610px;
    line-height: 23px;
}
#front-end_page_builder img{
    width: 982px;
    height: 482px;
    margin-top: 20px;
}
.organie_builder1{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.organie_builder2{
    display: flex;
    justify-content: space-around;
}

.builder1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.builder1 img{
    width: 107px;
    height: 94px;
   
}
.builder1 h2{
    font-size: 16px;
    font-family: "Playfair Display";
    color: #606c6c;
    font-weight: 700;
    text-align: center;
}
.builder1 p{
    color: #222;
    font: 14px "Poppins", sans-serif;
    width: 320px;
    text-align: center;
}
.builder2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.builder2 img{
    width: 107px;
    height: 94px;
   
}
.builder2 h2{
    font-size: 16px;
    font-family: "Playfair Display";
    color: #606c6c;
    font-weight: 700;
    text-align: center;
}
.builder2 p{
    color: #222;
    font: 14px "Poppins", sans-serif;
    width: 320px;
    text-align: center;
    line-height: 25px;
}
.builder3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.builder3 img{
    width: 107px;
    height: 94px;
   
}
.builder3 h2{
    font-size: 16px;
    font-family: "Playfair Display";
    color: #606c6c;
    font-weight: 700;
    text-align: center;
}
.builder3 p{
    color: #222;
    font: 14px "Poppins", sans-serif;
    width: 320px;
    text-align: center;
    line-height: 25px;
}
.builder4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.builder4 img{
    width: 107px;
    height: 94px;
   
}
.builder4 h2{
    font-size: 16px;
    font-family: "Playfair Display";
    color: #606c6c;
    font-weight: 700;
    text-align: center;
}
.builder4 p{
    color: #222;
    font: 14px "Poppins", sans-serif;
    width: 320px;
    text-align: center;
    line-height: 25px;
}
.builder5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.builder5 img{
    width: 107px;
    height: 94px;
   
}
.builder5 h2{
    font-size: 16px;
    font-family: "Playfair Display";
    color: #606c6c;
    font-weight: 700;
    text-align: center;
}
.builder5 p{
    color: #222;
    font: 14px "Poppins", sans-serif;
    width: 320px;
    text-align: center;
    line-height: 25px;
}
.builder6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.builder6 img{
    width: 107px;
    height: 94px;
   
}
.builder6 h2{
    font-size: 16px;
    font-family: "Playfair Display";
    color: #606c6c;
    font-weight: 700;
    text-align: center;
}
.builder6 p{
    color: #222;
    font: 14px "Poppins", sans-serif;
    width: 320px;
    text-align: center;
    line-height: 25px;
}
.video_builder{
    margin-left: 22%;
    margin-top: 100px;
}
.video_builder a{
    
    padding:14px 50px;
    border-radius: 22px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:'Poppins', sans-serif;
    transition: 600ms;
    font-weight: 600;
}
.video_builder a:nth-of-type(1){
    margin-right: 20px;
    background-color: #56cfe1 ;
    border: 2px solid #56cfe1;
}
.video_builder a:nth-of-type(2){
     background-color: transparent;
     color: #56cfe1;
     border: 2px solid #56cfe1;
}
.video_builder a:nth-of-type(1):hover{
    background-color: transparent;
    color: #56cfe1;

}
.video_builder a:nth-of-type(2):hover{
    background-color: #56cfe1;
    color: #fff;
}
#extensions{
    background-color: #f3f3f3;
}
.include{
    position: relative;
}
.include h2{
    font:40px "Poppins", sans-serif;
    color: #606c6c;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;
    padding-top: 130px;
}
.include p{
    font:16px "Playfair Display";
    font-style: italic;
    color: #7e8888;
    text-align: center;
}

.save span{
    font: 10px "Playfair Display";
    font-style: italic;
    
}
.save p{
    position: absolute;
    top: 75px;
    left: 860px;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-style: italic;
    font-family: "Playfair Display";
    width: 68px;
    height: 68px;
    display: inline-flex;
    background: #88c5be;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    border: 1px dashed #fff;
}
.icon-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 170px;
}
.icon-title a{
    color: #606c6c;
    font: 20px 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    width: 360px;
    margin-bottom: 100px;
    transition: 400ms;
}
.icon-title a:hover{
    color: #56cfe1;
}