html, body{
    margin: 0;
    padding: 0;
}
header{
    width: 98.5vw;
    height: 54px;
    background-color: #262626;
    position: relative;
}
header img{
    width: 152px;
    height: 18px;
    margin: 18px 20px;
}
header a{
    margin-right:20px ;
    color: white;
    background-color: #82b440;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    transition: 300ms;

}
header a:hover{
    background-color: #74a534;
    transition: 300ms;
}
.header img{
    width: 88px;
    height: 25.29px;
    z-index: 5;
}
.photo{
    width: 98.5vw;
    height: 550px;
    background: url(coklu_fon.jpg) no-repeat;
    background-size: cover;
    filter: brightness(.3);
    
    
}