html, body{
    height: 100%;
}
.container img{
    width: 170px;
    height: 170px;
    margin: 29px;
    transition: 300ms;
}
.container{
    width: 400px;
    height: 400px;
    margin: 30%;
    display: flex;
    flex-direction: row;
    position: relative;
}

img:nth-of-type(1){
    border-top-left-radius:50% ;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
img:nth-of-type(2){
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    bottom: 0;
    left:  0;
}
img:nth-of-type(3){
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    top:  0;
    right: 0;
}
img:nth-of-type(4){
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.container img:hover{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.main{
    margin: 300px;
    width: 668px;
    height: 324px;
    position: relative;
    overflow: hidden;
}
.title h2{
    display: none;
    margin-left: 100px;
    margin-top: 50px;
}
.main:hover .title h2{
    display: inline-block;
}

.title{
    position: absolute;
    top: 300px;
    left: 0;
    background-color:rgba(0, 128, 0, 0.416);
    width: 1px;    
    height: 1px;
    transition: 2s;

}
.main:hover .title{
    width: 668px;
    height: 324px;
    transition: 2s;
    top: 0;
    transition: 2s;
}
.main:hover .line-left{
    width: 668px;
    transition: 2s;

}
.main .line-left{
    position: absolute;
    top: 280px;
    left: 0;
    width:0 ;
    height: 2px;
    background-color: #fff;
    transition: 2s;

}
.main:hover .line-top{
    height: 328px;
}
.main .line-top{
    position: absolute;
    top: 0;
    left: 50px;
    height: 0;
    width: 2px;
    background-color: #fff;
    transition: 2s;

}