html, body{
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    
    height: 76px;
    background-color: #fdf2e9;
    color: #555;
    position: relative;
}
header img{
    width: 122.57px;
    height: 16px;
    margin: 27px 36px;
}
header ul{
    position: absolute;
    top: 20px;
    right: 1px;  
    display: flex;

}
header ul li{
    list-style: none;
    font: 14px "Rubik", sans-serif;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 300ms;
}

header ul a{
    text-decoration: none;
    margin-right: 33px;
    color: #333;
}
header ul a:nth-of-type(5){
    background-color: #e67e22;
    color: #fff;
    border-radius: 7px;
    padding: 0 18px;
    text-align: center;
}
header ul a:nth-of-type(1):hover{
    color:#e67e22 ;
}
header ul a:nth-of-type(2):hover{
    color:#e67e22 ;
}header ul a:nth-of-type(3):hover{
    color:#e67e22 ;
}header ul a:nth-of-type(4):hover{
    color:#e67e22 ;
}
#main{
    background-color: #fdf2e9;
    height: 530px;
    display: flex;
}
.text{
    margin: 0 170px;
    padding-top: 40px;
}
.text h1{
    font: 35px "Rubik", sans-serif;
    color: #333;
    width: 450px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 23px;
}
.text p{
    font: 15px "Rubik", sans-serif;
    color: #555;
    width: 400px;
    line-height: 25px;
}
.text .div-link a{
    padding: 11px 28px;
    font: 15px "Rubik", sans-serif;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
}
.div-link{
    margin-top: 50px;
}
.text .div-link a:nth-child(1){
    background-color: #e67e22;
    margin-right: 15px;
    color: #fff;
}
.text .div-link a:nth-child(2){
    background-color: #fff;
    color: #555;
}
.div-photo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fdf2e9;
    margin-right: -11px;
}
.div-photo{
    margin-top: 70px;
    display: flex;
}
.div-photo p{
    margin-left: 22px;
    margin-top: 10px;
    font: 13px "Rubik", sans-serif;
    color: #555;
    font-weight: 600;
}
.div-photo span{
    color: #e67e22;
    font-weight: 800;
}
.div-image img{
    width:420px ;
    height:420px ;
    margin-left: -240px;
    margin-top: 30px;
}
.div-logo {
    filter: brightness(0);
    opacity: 50%;
    display: flex;
}
.div-logo img{
    margin-top: 15px;
}

.div-logo img:nth-of-type(1){
    width: 184.79px;
    height: 25px;
    margin-left: 210px;
    margin-right: 40px;
}
.div-logo img:nth-of-type(2){
    width: 70.79px;
    height: 26px;
    margin-right: 40px;

}.div-logo img:nth-of-type(3){
    width: 200.6px;
    height: 25px;
    margin-right: 40px;

}.div-logo img:nth-of-type(4){
    width: 100.39px;
    height: 26px;
    margin-right:40px;

}.div-logo img:nth-of-type(5){
    width: 140.19px;
    height: 26px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0);
    opacity: 50%;
    margin-top: 40px;

}
.title h6{
    font-weight: 800;
    font-family:"Rubik", sans-serif ;
}
.div-paragraph{
    margin: 90px 190px;
    
}
.div-paragraph p{
    font: 12px "Rubik", sans-serif;
    color: #e67e22;
    font-weight: 600;
}
.div-paragraph h3{
    font: 28px "Rubik", sans-serif;
    color: #333;
    font-weight: 800;
    margin-top: 10px;
}
.screen1, .screen2{
    display: inline-block;
}
.screen1{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #e67d221a;
    margin-left: 720px;
    margin-top: 40px;
}
.screen2{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #e67d222c;
    margin: 30px 30px;
}
.screen2 img{
    width: 140px;
    height: 280px;
    margin-top: -55px;
    margin-left: 20px;
}
.app-screen h1{
    font: 65px "Rubik", sans-serif;
    color: #ddd;
    font-weight: 600;
}
.app-screen h2{
    font: 20px "Rubik", sans-serif;
    color: #333;
    font-weight: 800;
}
.app-screen p{
     font: 13px "Rubik", sans-serif;
    color: #555;
    width: 380px;
    line-height: 23px;
}