html, body{
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 76px;
    background-color: #fdf2e9;
    color: #555;
    position: relative;
}
header img{
    width: 122.57px;
    height: 16px;
    margin: 27px 36px;
}
header ul{
    position: absolute;
    top: 20px;
    right: 20px;  
    display: flex;

}
header ul li{
    list-style: none;
    font: 14px "Rubik", sans-serif;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 300ms;
}

header ul a{
    text-decoration: none;
    margin-right: 33px;
    color: #333;
}
header ul a:nth-of-type(5){
    background-color: #e67e22;
    color: #fff;
    border-radius: 7px;
    padding: 0 18px;
    text-align: center;
}
header ul a:nth-of-type(1):hover{
    color:#e67e22 ;
}
header ul a:nth-of-type(2):hover{
    color:#e67e22 ;
}header ul a:nth-of-type(3):hover{
    color:#e67e22 ;
}header ul a:nth-of-type(4):hover{
    color:#e67e22 ;
}
#no1{
    width: 100vw;
    height: 530px;
    position: relative;
    background-color: #fdf2e9;

}
.text-photo{
    position: absolute;
    top: 50px;
    left:170px;
    

}
.text-photo h1{
    font: 35px "Rubik", sans-serif;
    width: 450px;
    height: 163.79px;
    font-weight: 800;
    line-height: 40px;
    color: #333;
    margin-bottom: -20px;
}
.text-photo p{
    width: 430px;
    height: 96px;
    color: #555;
    font: 16px "Rubik", sans-serif;
    line-height: 25px;
    margin-bottom: 25px;
}
.text-photo a{
    font: 16px "Rubik", sans-serif;
    padding: 11px 24px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;

}
.btn-start{
    width: 225.97px;
    height: 52px;
    background-color: #e67e22;
    color: #fff;
    margin-right: 20px;

}
.btn-learn{
    width: 189.63px;
    height:52px ;
    background-color: #fff;
    color: #333;
}
.img-hero{
    position: absolute;
    top: 32px;
    left: 667px;
    width: 430px;
    height: 422.79px;
}
.custom{
    position: absolute;
    left: 180px;
    top: 420px;
}
.custom img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: -15px;
    border: 2px solid #fdf2e9;
}
.custom span{
    color: #cf711f;
    font: 14px "Rubik", sans-serif;
    font-weight:800;
}
.custom p{
    font: 13px "Rubik", sans-serif;
    color: #555;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 180px;
    width: 300px;
    font-weight: 600;
}
.featured {
    margin-left: 10%;
    margin-top:50px ;
}
.featured img{
    margin-right: 20px;
    filter: brightness(0);
    opacity: 50%;
}
.featured img:nth-of-type(1){
    width:224.79px ;
    height: 32px; 
    margin-right: 40px;
}
.featured img:nth-of-type(2){
    width:100.79px;
    height: 32px;
    margin-right: 40px;

}
.featured img:nth-of-type(3){
    width:243.6px ;
    height: 32px;    
    margin-right: 40px;

}
.featured img:nth-of-type(4){
    width: 122.39px;
    height: 32px;
    margin-right: 40px;

}
.featured img:nth-of-type(5){
    width:171.19px ;
    height: 32px;
    margin-right: 40px;

}
.featured div{
    margin-left:40% ;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    filter: brightness(0);
    opacity: 50%;
}
#how{
    position: relative;

}
#how p{
    position: absolute;
    top: 100px;
    left: 200px;
    font: 12px "Rubik", sans-serif;
    color: #cf711f;
    font-weight: 600;
}
#how h2{
    position: absolute;
    top: 120px;
    left: 200px;
    font: 30px "Rubik", sans-serif;
    color: #333;
    font-weight: 800;
}
.section-main1{
    position: absolute;
    top: 250px;
    left: 200px;
}
.section-main1 h1{
    font: 55px "Rubik", sans-serif;
    color: #ddd;
    font-weight: 800;
}
.section-main1 h3{
    font: 25px "Rubik", sans-serif;
    color: #333;
    font-weight: 600;

}
.section-main1 span{
    margin-top: 15px;
    font: 14px "Rubik", sans-serif;
    color:#555 ;
    display: inline-block;
    width: 400px;
    height: 100px;
    line-height: 25px;

}.section-main1 img{
    width: 140px;
    height: 280px;
    margin-left: 230px;
}
.main-img1{
    position: absolute;
    top: 10px;
    left: 380px;
}
.section-main2{
    position: absolute;
    top: 630px;
    left: 600px;
}
.section-main2 h1{
    font: 55px "Rubik", sans-serif;
    color: #ddd;
    font-weight: 800;
}
.section-main2 h3{
    font: 25px "Rubik", sans-serif;
    color: #333;
    font-weight: 600;

}
.section-main2 span{
    margin-top: 15px;
    font: 14px "Rubik", sans-serif;
    color:#555 ;
    display: inline-block;
    width: 400px;
    height: 100px;
    line-height: 25px;

}.section-main2 img{
    width: 140px;
    height: 280px;
}
.main-img2{
    position: absolute;
    top: 10px;
    left: -320px;
}
.section-main3{
    position: absolute;
    top: 980px;
    left: 200px;
}
.section-main3 h1{
    font: 55px "Rubik", sans-serif;
    color: #ddd;
    font-weight: 800;
}
.section-main3 h3{
    font: 25px "Rubik", sans-serif;
    color: #333;
    font-weight: 600;

}
.section-main3 span{
    margin-top: 15px;
    font: 14px "Rubik", sans-serif;
    color:#555 ;
    display: inline-block;
    width: 400px;
    height: 100px;
    line-height: 25px;

}.section-main3 img{
    width: 140px;
    height: 280px;
    margin-left: 230px;
}
.main-img3{
    position: absolute;
    top: 10px;
    left: 380px;
}
