body {
  /* background-image: url(wlp.webp); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glass-card {
  width: 360px;
  height: 500px;
  background-color: rgba(51, 51, 67, 0.572);
  margin-left: 30%;
  margin-top: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.glass-card img {
  width: 300px;
  height: 250px;
  transition: 500ms;
}
.glass-card img:hover {
  transform: scale(1.2) rotate(10deg);
}
.glass-card p {
  font-size: 13px;
  width: 280px;
}
.glass-card a {
  text-decoration: none;
  padding: 10px 35px;
  background-color: rgb(75, 154, 234);
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  transition: 400ms;
}
.glass-card a:nth-of-type(1) {
  background-color: transparent;
  border: 1px solid rgb(75, 154, 234);
  margin-right: 5px;
  box-sizing: border-box;
}
.glass-card a:nth-of-type(1):hover {
  background-color: #fff;
  color: rgb(75, 154, 234);
  border-color: transparent;
}
.glass-card a:nth-of-type(2):hover {
  /* padding: 12px 37px; */
  box-shadow: 1px 1px 15px 0 rgb(14, 55, 97);
}
