html, body{
    margin: 0;
    scroll-margin-top: 30px;
   
}



.header{
    width: 1263px;
    height: 54px;
    background-color: #262626;
    
    position: fixed;
    z-index: 1;
    
}
.header img{
    position: absolute;
    top: 18px;
    left: 20px;
    width: 152px;
    height: 18px;
    cursor: pointer;
}
.header  a{
    width: 93.7px;
    height: 21px;
    padding-top: 6px ;
    padding-bottom: 5px;
    background-color: #82b440;
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 4px;
}
.header a:hover{
    background-color: #729644;
}
.conteiner{
    width: 1263px;
    height: 1000px;
    background-color: aquamarine;
    background-image:url(bkg_header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

}
.conteiner img{
   margin: 400px 150px;
   position: absolute;
   cursor: pointer;
}
.conteiner a{
    display: inline-block;
    width:200px ;
    height:40px ;
    border: 3px solid #fff;
    position: absolute;
    top: 800px;
    left: 500px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 400ms;
}
.conteiner a:hover{
    background-color:#428bca;
    border-color:#428bca ;
    text-decoration: none;
    transition: 400ms;
}
.head{
    display: inline-flex;
}
.box1{
    width: 252.67px;
    height: 490px;
    background-color: #72b9ea;
    text-align: center;
    position: relative;
    display: inline-block;
}
.box1 span{

    display: inline-block;
    color: #fff;
    margin-top: 210px ;
    font-size: 10px;
    font-weight: 600;
    width: 80px;
    height: 20px;
    border: 2px solid white;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.box1 .design{
    position: absolute;
    color: #fff;
    right: 55px ;
    top: 350px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box1 img{
    margin-top: 80px;
}
.blur   {
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 350ms;
}
.box1:hover .blur{
    height: 500px;
    transition: 350ms;
}
.box2{
    width: 252.67px;
    height: 490px;
    background-color: #7fd3cc;
    position: relative;
}
.box2 .design2{
    color: #fff;
    position: absolute;
    right: 25px;
    top: 350px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box2 span{
    display: inline-block;
    color: #fff;
    margin-top: 210px ;
    font-size: 10px;
    font-weight: 600;
    width: 80px;
    height: 20px;
    border: 2px solid white;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box2 img{
    margin: 65px;
}
.blur2{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 350ms;
}
.box2:hover .blur2{
    height: 500px;
    transition: 350ms;
}
.box3{
    width: 252.67px;
    height: 490px;
    background-color: #7ac673;
    position: relative;
}
.box3 .design3{
    color: #fff;
    position: absolute;
    top: 350px;
    right: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box3 span{
    display: inline-block;
    margin-top: 210px;
    width: 80px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.box3 img{
    margin-top: 80px;
    margin-left: 60px;
}
.blur3{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 350ms;
}
.box3:hover .blur3{
    height: 500px;
    transition: 350ms;
}
.box4{
    width: 252.67px;
    height: 490px;
    background-color: #eebc78;
    position: relative;
}
.box4 .design4{
    color: #fff;
    position: absolute;
    top: 350px;
    right: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;   
}
.box4 span{
    display: inline-block;
    margin-top: 210px;
    width: 80px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blur4{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 300ms;
}
.box4:hover .blur4{
    height: 500px;
    transition: 300ms;
}
.box4 img{
    margin-top: 80px;
    margin-left: 100px;
}
.box5{
    width: 252.67px;
    height: 490px;
    background-color: #f2967f;
    position: relative;
}
.box5 .design5{
    position: absolute;
    top: 350px;
    right: 80px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; 
}
.box5 span{
    display: inline-block;
    margin-top: 210px;
    width: 80px;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border: 2px solid #fff;
    position: absolute;
    top: 180px;
    left: 80px;
    font-weight: 600;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.box5 img{
    margin-top: 80px;
    margin-left: 50px;
}
.blur5{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 300ms;
}
.box5:hover .blur5{
    height: 500px;
    transition: 350ms;
}
.welcome h3{
    font-size: 5.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #272727;
    margin-bottom: 0.4em;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.welcome p{
    display: inline-block;
    font: 18px Lato, Arial, Tahoma, Sans-serif;
    color: #7c7c7c;
    width: 1170px;
    height: 64.79px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 100px;
}


.nav{
    display: flex;
    margin-left: 20px;
}
.nav img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav  div img:hover{
    transform:scale(1.01);
    transition: 1s;
} 
.nav div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}
.nav #fashion-link1{
    text-decoration: none;

}
.nav #fashion-link1:hover span{
    color: #4a90cd;
}
.nav #fashion-link1 span{
    margin-left: 120px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner1{
   margin-bottom: 25px;
}
.nav #fashion-link2{
    text-decoration: none;

}
.nav #fashion-link2:hover span{
    color: #4a90cd;
}
.nav #fashion-link2 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner2{
   margin-bottom: 25px;
}

.nav #fashion-link3{
    text-decoration: none;

}
.nav #fashion-link3:hover span{
    color: #4a90cd;
}
.nav #fashion-link3 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner3{
   margin-bottom: 25px;
}
.nav #fashion-link4{
    text-decoration: none;

}
.nav #fashion-link4:hover span{
    color: #4a90cd;
}
.nav #fashion-link4 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner4{
   margin-bottom: 25px;
}
.nav2 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav2{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav2 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav2 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav2 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}
.nav2 #fashion-link5{
    text-decoration: none;
}
.nav2 #fashion-link5:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link5 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner5{
    margin-bottom: 25px;
 }
 .nav2 #fashion-link6{
    text-decoration: none;
}
.nav2 #fashion-link6:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link6 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner6{
    margin-bottom: 25px;
 }
 .nav2 #fashion-link7{
    text-decoration: none;
}
.nav2 #fashion-link7:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link7 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner7{
    margin-bottom: 25px;
 }
 .nav2 #fashion-link8{
    text-decoration: none;
}
.nav2 #fashion-link8:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link8 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner8{
    margin-bottom: 25px;
 }

 .nav3 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav3 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}

.nav3{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}

.nav3 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav3 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav3 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}
.nav3 #fashion-link9{
    text-decoration: none;
}
.nav3 #fashion-link9:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link9 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner9{
    margin-bottom: 25px;
 }
 .nav3 #fashion-link10{
    text-decoration: none;
}
.nav3 #fashion-link10:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link10 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner10{
    margin-bottom: 25px;
 }
 .nav3 #fashion-link11{
    text-decoration: none;
}
.nav3 #fashion-link11:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link11 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner11{
    margin-bottom: 25px;
 }
 .nav3 #fashion-link12{
    text-decoration: none;
}
.nav3 #fashion-link12:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link12 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner12{
    margin-bottom: 25px;
 }
 .nav4 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav4{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav4 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav4 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav4 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav4 #fashion-link13{
    text-decoration: none;
}
.nav4 #fashion-link13:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link13 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner13{
    margin-bottom: 25px;
 }

 .nav4 #fashion-link14{
    text-decoration: none;
}
.nav4 #fashion-link14:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link14 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner14{
    margin-bottom: 25px;
 }

 .nav4 #fashion-link15{
    text-decoration: none;
}
.nav4 #fashion-link15:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link15 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner15{
    margin-bottom: 25px;
 }
 .nav4 #fashion-link16{
    text-decoration: none;
}
.nav4 #fashion-link16:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link16 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner16{
    margin-bottom: 25px;
 }

/*

.tex h3{
    font-size: 5.5em;
    font: 18px Lato, Arial, Tahoma, Sans-serif;
    color: #7c7c7c;
    width: 1170px;
    height: 64.79px;
    text-align: center;
    margin-left: 40px;
}*/