html, body{
    margin: 0;
    width: 100%;
   
}
.header{
    width: 100vw;
    height: 55px;
    background-color: #262626;
    position: fixed;
    z-index: 1;
    
}
.header img{
    position: absolute;
    top: 15px;
    left: 17px;
    width: 152px;
    height: 18px;
    cursor: pointer;
    border: 1.5px solid #fff;
    border-radius: 3.5px;
    padding: 1.5px 1px 1px 2px;
}
.header img:hover{
    border: none;
    top: 16.5px;
    left: 18.5px;
    width: 152px;
    height: 18px;
}
.header  a{
    width: 93.7px;
    height: 21px;
    padding-top: 6px ;
    padding-bottom: 5px;
    background-color: #82b440;
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 4px;
}
.header a:hover{
    background-color: #729644;
}
.conteiner{
    width: 100vw;
    height: 1000px;
    background-color: aquamarine;
    background-image:url(bkg_header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

}
.conteiner img{
   margin: 400px 150px;
   position: absolute;
   cursor: pointer;
}
.conteiner a{
    display: inline-block;
    width:200px ;
    height:40px ;
    border: 3px solid #fff;
    position: absolute;
    top: 800px;
    left: 500px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 400ms;
}
.conteiner a:hover{
    background-color:#428bca;
    border-color:#428bca ;
    text-decoration: none;
    transition: 400ms;
}
.head{
    display: inline-flex;
}
.box1{
    width: 252.67px;
    height: 490px;
    background-color: #72b9ea;
    text-align: center;
    position: relative;
    display: inline-block;
}
.box1 span{

    display: inline-block;
    color: #fff;
    margin-top: 210px ;
    font-size: 10px;
    font-weight: 600;
    width: 80px;
    height: 20px;
    border: 2px solid white;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.box1 .design{
    position: absolute;
    color: #fff;
    right: 55px ;
    top: 350px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box1 img{
    margin-top: 80px;
}
.blur   {
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 350ms;
}
.box1:hover .blur{
    height: 500px;
    transition: 350ms;
}
.box2{
    width: 252.67px;
    height: 490px;
    background-color: #7fd3cc;
    position: relative;
}
.box2 .design2{
    color: #fff;
    position: absolute;
    right: 25px;
    top: 350px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box2 span{
    display: inline-block;
    color: #fff;
    margin-top: 210px ;
    font-size: 10px;
    font-weight: 600;
    width: 80px;
    height: 20px;
    border: 2px solid white;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box2 img{
    margin: 65px;
}
.blur2{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 350ms;
}
.box2:hover .blur2{
    height: 500px;
    transition: 350ms;
}
.box3{
    width: 252.67px;
    height: 490px;
    background-color: #7ac673;
    position: relative;
}
.box3 .design3{
    color: #fff;
    position: absolute;
    top: 350px;
    right: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.box3 span{
    display: inline-block;
    margin-top: 210px;
    width: 80px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.box3 img{
    margin-top: 80px;
    margin-left: 60px;
}
.blur3{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 350ms;
}
.box3:hover .blur3{
    height: 500px;
    transition: 350ms;
}
.box4{
    width: 252.67px;
    height: 490px;
    background-color: #eebc78;
    position: relative;
}
.box4 .design4{
    color: #fff;
    position: absolute;
    top: 350px;
    right: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;   
}
.box4 span{
    display: inline-block;
    margin-top: 210px;
    width: 80px;
    height: 20px;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    top: 180px;
    left: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blur4{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 300ms;
}
.box4:hover .blur4{
    height: 500px;
    transition: 300ms;
}
.box4 img{
    margin-top: 80px;
    margin-left: 100px;
}
.box5{
    width: 252.67px;
    height: 490px;
    background-color: #f2967f;
    position: relative;
}
.box5 .design5{
    position: absolute;
    top: 350px;
    right: 80px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; 
}
.box5 span{
    display: inline-block;
    margin-top: 210px;
    width: 80px;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border: 2px solid #fff;
    position: absolute;
    top: 180px;
    left: 80px;
    font-weight: 600;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.box5 img{
    margin-top: 80px;
    margin-left: 50px;
}
.blur5{
    width: 252.67px;
    height: 0;
    background-color: #e1eaf078;
    position: absolute;
    transition: 300ms;
}
.box5:hover .blur5{
    height: 500px;
    transition: 350ms;
}
.welcome h3{
    font-size: 5.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #272727;
    margin-bottom: 0.4em;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.welcome p{
    display: inline-block;
    font: 18px Lato, Arial, Tahoma, Sans-serif;
    color: #7c7c7c;
    width: 1170px;
    height: 64.79px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 100px;
}


.nav{
    display: flex;
    margin-left: 20px;
}
.nav img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav  div img:hover{
    transform:scale(1.01);
    transition: 1s;
} 
.nav div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}
.nav #fashion-link1{
    text-decoration: none;

}
.nav #fashion-link1:hover span{
    color: #4a90cd;
}
.nav #fashion-link1 span{
    margin-left: 120px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner1{
   margin-bottom: 25px;
}
.nav #fashion-link2{
    text-decoration: none;

}
.nav #fashion-link2:hover span{
    color: #4a90cd;
}
.nav #fashion-link2 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner2{
   margin-bottom: 25px;
}

.nav #fashion-link3{
    text-decoration: none;

}
.nav #fashion-link3:hover span{
    color: #4a90cd;
}
.nav #fashion-link3 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner3{
   margin-bottom: 25px;
}
.nav #fashion-link4{
    text-decoration: none;

}
.nav #fashion-link4:hover span{
    color: #4a90cd;
}
.nav #fashion-link4 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner4{
   margin-bottom: 25px;
}
.nav2 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav2{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav2 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav2 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav2 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}
.nav2 #fashion-link5{
    text-decoration: none;
}
.nav2 #fashion-link5:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link5 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner5{
    margin-bottom: 25px;
 }
 .nav2 #fashion-link6{
    text-decoration: none;
}
.nav2 #fashion-link6:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link6 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner6{
    margin-bottom: 25px;
 }
 .nav2 #fashion-link7{
    text-decoration: none;
}
.nav2 #fashion-link7:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link7 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner7{
    margin-bottom: 25px;
 }
 .nav2 #fashion-link8{
    text-decoration: none;
}
.nav2 #fashion-link8:hover span{
    color: #4a90cd;
}
.nav2 #fashion-link8 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner8{
    margin-bottom: 25px;
 }

 .nav3 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav3 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}

.nav3{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}

.nav3 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav3 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav3 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}
.nav3 #fashion-link9{
    text-decoration: none;
}
.nav3 #fashion-link9:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link9 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner9{
    margin-bottom: 25px;
 }
 .nav3 #fashion-link10{
    text-decoration: none;
}
.nav3 #fashion-link10:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link10 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner10{
    margin-bottom: 25px;
 }
 .nav3 #fashion-link11{
    text-decoration: none;
}
.nav3 #fashion-link11:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link11 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner11{
    margin-bottom: 25px;
 }
 .nav3 #fashion-link12{
    text-decoration: none;
}
.nav3 #fashion-link12:hover span{
    color: #4a90cd;
}
.nav3 #fashion-link12 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner12{
    margin-bottom: 25px;
 }
 .nav4 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav4{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav4 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav4 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav4 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav4 #fashion-link13{
    text-decoration: none;
}
.nav4 #fashion-link13:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link13 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner13{
    margin-bottom: 25px;
 }

 .nav4 #fashion-link14{
    text-decoration: none;
}
.nav4 #fashion-link14:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link14 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner14{
    margin-bottom: 25px;
 }

 .nav4 #fashion-link15{
    text-decoration: none;
}
.nav4 #fashion-link15:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link15 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner15{
    margin-bottom: 25px;
 }
 .nav4 #fashion-link16{
    text-decoration: none;
}
.nav4 #fashion-link16:hover span{
    color: #4a90cd;
}
.nav4 #fashion-link16 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner16{
    margin-bottom: 25px;
 }

 .nav5 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav5{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav5 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav5 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav5 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav5 #digital1{
    text-decoration: none;
}
.nav5 #digital1:hover span{
    color: #4a90cd;
}
.nav5 #digital1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital1{
    margin-bottom: 25px;
 }

 .nav5 #digital3{
    text-decoration: none;
}
.nav5 #digital3:hover span{
    color: #4a90cd;
}
.nav5 #digital3 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital3{
    margin-bottom: 25px;
 }

 .nav5 #digital4{
    text-decoration: none;
}
.nav5 #digital4:hover span{
    color: #4a90cd;
}
.nav5 #digital4 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital4{
    margin-bottom: 25px;
 }
 .nav5 #digital5{
    text-decoration: none;
}
.nav5 #digital5:hover span{
    color: #4a90cd;
}
.nav5 #digital5 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital5{
    margin-bottom: 25px;
 }
 .nav6 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav6{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav6 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav6 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav6 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav6 #digital6{
    text-decoration: none;
}
.nav6 #digital6:hover span{
    color: #4a90cd;
}
.nav6 #digital6 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital6{
    margin-bottom: 25px;
 }

 .nav6 #digital7{
    text-decoration: none;
}
.nav6 #digital7:hover span{
    color: #4a90cd;
}
.nav6 #digital7 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital7{
    margin-bottom: 25px;
 }

 .nav6 #digital8{
    text-decoration: none;
}
.nav6 #digital8:hover span{
    color: #4a90cd;
}
.nav6 #digital8 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital8{
    margin-bottom: 25px;
 }
 .nav6 #digital9{
    text-decoration: none;
}
.nav6 #digital9:hover span{
    color: #4a90cd;
}
.nav6 #digital9 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital9{
    margin-bottom: 25px;
 }
 .nav7 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav7{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav7 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav7 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav7 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav7 #digital10{
    text-decoration: none;
}
.nav7 #digital10:hover span{
    color: #4a90cd;
}
.nav7 #digital10 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital10{
    margin-bottom: 25px;
 }

 .nav7 #digital11{
    text-decoration: none;
}
.nav7 #digital11:hover span{
    color: #4a90cd;
}
.nav7 #digital11 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital11{
    margin-bottom: 25px;
 }

 .nav7 #digital12{
    text-decoration: none;
}
.nav7 #digital12:hover span{
    color: #4a90cd;
}
.nav7 #digital12 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-digital12{
    margin-bottom: 25px;
 }
 .nav7 #furniture1{
    text-decoration: none;
}
.nav7 #furniture1:hover span{
    color: #4a90cd;
}
.nav7 #furniture1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-furniture1{
    margin-bottom: 25px;
 }
 .nav8 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav8{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav8 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav8 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav8 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav8 #furniture2{
    text-decoration: none;
}
.nav8 #furniture2:hover span{
    color: #4a90cd;
}
.nav8 #furniture2 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-furniture2{
    margin-bottom: 25px;
 }

 .nav8 #furniture3{
    text-decoration: none;
}
.nav8 #furniture3:hover span{
    color: #4a90cd;
}
.nav8 #furniture3 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-furniture3{
    margin-bottom: 25px;
 }

 .nav8 #furniture4{
    text-decoration: none;
}
.nav8 #furniture4:hover span{
    color: #4a90cd;
}
.nav8 #furniture4 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-furniture4{
    margin-bottom: 25px;
 }
 .nav8 #furniture5{
    text-decoration: none;
}
.nav8 #furniture5:hover span{
    color: #4a90cd;
}
.nav8 #furniture5 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-furniture5{
    margin-bottom: 25px;
 }

 .nav9 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav9{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav9 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav9 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav9 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav9 #furniture6{
    text-decoration: none;
}
.nav9 #furniture6:hover span{
    color: #4a90cd;
}
.nav9 #furniture6 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-furniture6{
    margin-bottom: 25px;
 }

 .nav9 #sport1{
    text-decoration: none;
}
.nav9 #sport1:hover span{
    color: #4a90cd;
}
.nav9 #sport1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport1{
    margin-bottom: 25px;
 }

 .nav9 #sport2{
    text-decoration: none;
}
.nav9 #sport2:hover span{
    color: #8a90cd;
}
.nav9 #sport2 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport2{
    margin-bottom: 25px;
 }
 .nav9 #sport3{
    text-decoration: none;
}
.nav9 #sport3:hover span{
    color: #4a90cd;
}
.nav9 #sport3 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport3{
    margin-bottom: 25px;
 }

 .nav10 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav10{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav10 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav10 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav10 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav10 #sport4{
    text-decoration: none;
}
.nav10 #sport4:hover span{
    color: #4a90cd;
}
.nav10 #sport4 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport4{
    margin-bottom: 25px;
 }

 .nav10 #sport5{
    text-decoration: none;
}
.nav10 #sport5:hover span{
    color: #4a90cd;
}
.nav10 #sport5 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport5{
    margin-bottom: 25px;
 }

 .nav10 #sport6{
    text-decoration: none;
}
.nav10 #sport6:hover span{
    color: #8a90cd;
}
.nav10 #sport6 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport6{
    margin-bottom: 25px;
 }
 .nav10 #sport7{
    text-decoration: none;
}
.nav10 #sport7:hover span{
    color: #4a90cd;
}
.nav10 #sport7 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport7{
    margin-bottom: 25px;
 }



 .nav11 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav11{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav11 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav11 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav11 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav11 #sport8{
    text-decoration: none;
}
.nav11 #sport8:hover span{
    color: #8a90cd;
}
.nav11 #sport8 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport8{
    margin-bottom: 25px;
 }

 .nav11 #sport9{
    text-decoration: none;
}
.nav11 #sport9:hover span{
    color: #4a90cd;
}
.nav11 #sport9 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-sport9{
    margin-bottom: 25px;
 }

 .nav11 #beauty1{
    text-decoration: none;
}
.nav11 #beauty1:hover span{
    color: #8a90cd;
}
.nav11 #beauty1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-beauty1{
    margin-bottom: 25px;
 }
 .nav11 #food1{
    text-decoration: none;
}
.nav11 #food1:hover span{
    color: #4a90cd;
}
.nav11 #food1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-food1{
    margin-bottom: 25px;
 }


 .nav12 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav12{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav12 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav12 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav12 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav12 #food2{
    text-decoration: none;
}
.nav12 #food2:hover span{
    color: #8a90cd;
}
.nav12 #food2 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-food2{
    margin-bottom: 25px;
 }

.nav12 #food3{
    text-decoration: none;
}
.nav12 #food3:hover span{
    color: #4a90cd;
}
.nav12 #food3 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-food3{
    margin-bottom: 25px;
 }

 .nav12 #food4{
    text-decoration: none;
}
.nav12 #food4:hover span{
    color: #8a90cd;
}
.nav12 #food4 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-food4{
    margin-bottom: 25px;
 }
 .nav12 #pet1{
    text-decoration: none;
}
.nav12 #pet1:hover span{
    color: #4a90cd;
}
.nav12 #pet1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-pet1{
    margin-bottom: 25px;
 }
 .nav13 img{
    width: 270px;
    height: 303.75px;
    transition: 1s;
}
.nav13{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.nav13 div{
    width: 270px;
    overflow: hidden;
    margin: 0 10px 0 20px;
    box-shadow: 0 1px 4px #b7b7b7;
    cursor: pointer;
    transition: 1s;
}
.nav13 div img:hover{
    transform: scale(1.01);
    transition: 1s;
}
.nav13 div:hover{
    box-shadow: 0 1px 8px #747474;
    transition:1s ;
}

.nav13 #gift1{
    text-decoration: none;
}
.nav13 #gift1:hover span{
    color: #8a90cd;
}
.nav13 #gift1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-gift1{
    margin-bottom: 25px;
 }

.nav13 #bike1{
    text-decoration: none;
}
.nav13 #bike1:hover span{
    color: #4a90cd;
}
.nav13 #bike1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-bike1{
    margin-bottom: 25px;
 }

 .nav13 #bike2{
    text-decoration: none;
}
.nav13 #bike2:hover span{
    color: #8a90cd;
}
.nav13 #bike2 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-bike2{
    margin-bottom: 25px;
 }
 .nav13 #flower1{
    text-decoration: none;
}
.nav13 #flower1:hover span{
    color: #4a90cd;
}
.nav13 #flower1 span{
    margin-left: 110px;
    color: #7c7c7c;
    font-family: "Lato", Arial, Tahoma, sans-serif;
    font-size: 17px;
}
#conteiner-flower1{
    margin-bottom: 25px;
 }

 .text{
    width: 1170px;
    height: 79.33;
    margin-left: 50px;
    margin-bottom: 20px;
 }
 .text h3{
    width: 1170px;
    height: 78px;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 200;
    color: #272727;
    margin-bottom: 0.4em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 .text p{
    width: 1170px;
    height: 32.4px;
    color: #7c7c7c;
    text-align: center;
    font-family:  "Lato", Arial, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.8em;
 }
 .us-column{
    display: flex;
    margin-left: 65px;
    margin-bottom: 30px;
    

 }
 .us-column .column{
    width: 280.79px;
    height: 160px;
    margin: 20px 6px 0 6px;
 }
 .column img{
    width: 233px;
    height: 160px;
 }
 .us-column h3{
    width: 250px;
    height: 50px;
    color: #7c7c7c;
    font:17px "Lato", Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 25px;
}
#column3 h3{
    margin-left: 85px;
}
#column4 h3{
    margin-left: 70px;
}
.text2 h3{
    text-align: center;
    width: 1170px;
    height: 79.33px;
    font: 66px "Lato" , Arial , Tahoma , Sans-serif;
    color: #272727;
    margin-bottom: 10px;
    margin-left: 50px ;
}
.text2 p{
    text-align: center;
    width: 1170px;
    height: 64.79px;
    color: #7c7c7c;
    font:17.5px "Lato", Arial, Tahoma, sans-serif;
    line-height: 30px;
    font-weight: 200;
    margin-left: 30px;
}
.us-column2{
    display: flex;
    margin-left: 65px;
}
.column1{
    width: 280.79px;
    height: 160px;
    margin: 20px 6px 0 6px;
}
.column1 img{
    width: 233px;
    height: 160px;
 }
 .us-column2 h3{
    width: 250px;
    height: 50px;
    color: #7c7c7c;
    font:17px "Lato", Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 75px
 }
 .text3 h3{
    width: 1170px;
    height: 79.33px;
    color: #272727;
    font:66px "Lato", Arial, Tahoma, sans-serif;
    text-align: center;
 }


.inclusive{
    display: flex;
}


.inclusive .universal{
    margin-left: 25px;

}
 .fictional{
    margin-left:45px;
 }
 .fiction1{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction1 div{
    margin-left: 30px;
 }
 .fiction1 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction1 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .fiction2{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction2 div{
    margin-left: 30px;
 }
 .fiction2 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction2 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }


 .fiction3{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction3 div{
    margin-left: 30px;
 }
 .fiction3 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction3 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .fiction4{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction4 div{
    margin-left: 30px;
 }
 .fiction4 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction4 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .fiction5{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction5 div{
    margin-left: 30px;
 }
 .fiction5 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction5 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .fiction6{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction6 div{
    margin-left: 30px;
 }
 .fiction6 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction6 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .fiction7{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction7 div{
    margin-left: 30px;
 }
 .fiction7 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction7 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction8{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction8 div{
    margin-left: 30px;
 }
 .fiction8 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction8 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction9{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction9 div{
    margin-left: 30px;
 }
 .fiction9 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction9 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction10{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction10 div{
    margin-left: 30px;
 }
 .fiction10 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction10 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .fiction11{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction11 div{
    margin-left: 30px;
 }
 .fiction11 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction11 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction12{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction12 div{
    margin-left: 30px;
 }
 .fiction12 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction12 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction13{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction13 div{
    margin-left: 30px;
 }
 .fiction13 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction13 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction14{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction14 div{
    margin-left: 30px;
 }
 .fiction14 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction14 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction15{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction15 div{
    margin-left: 30px;
 }
 .fiction15 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction15 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction16{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction16 div{
    margin-left: 30px;
 }
 .fiction16 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction16 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction17{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction17 div{
    margin-left: 30px;
 }
 .fiction17 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction17 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction18{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction18 div{
    margin-left: 30px;
 }
 .fiction18 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction18 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction19{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction19 div{
    margin-left: 30px;
 }
 .fiction19 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction19 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .fiction20{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    
 }
 .fiction20 div{
    margin-left: 30px;
 }
 .fiction20 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .fiction20 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe1{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe1 div{
    margin-left: 30px;
 }
 .universe1 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe1 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
.universe2{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
.universe2 div{
    margin-left: 30px;
 }
.universe2 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
.universe2 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe3{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe3 div{
    margin-left: 30px;
 }
 .universe3 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe3 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe4{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe4 div{
    margin-left: 30px;
 }
 .universe4 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe4 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe5{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe5 div{
    margin-left: 30px;
 }
 .universe5 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe5 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe6{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe6 div{
    margin-left: 30px;
 }
 .universe6 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe6 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe7{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe7 div{
    margin-left: 30px;
 }
 .universe7 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe7 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe8{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe8 div{
    margin-left: 30px;
 }
 .universe8 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe8 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe9{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe9 div{
    margin-left: 30px;
 }
 .universe9 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe9 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe10{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe10 div{
    margin-left: 30px;
 }
 .universe10 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe10 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe11{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe11 div{
    margin-left: 30px;
 }
 .universe11 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe11 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe12{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe12 div{
    margin-left: 30px;
 }
 .universe12 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe12 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .universe13{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe13 div{
    margin-left: 30px;
 }
 .universe13 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe13 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }

 .universe14{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe14 div{
    margin-left: 30px;
 }
 .universe14 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe14 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe15{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe15 div{
    margin-left: 30px;
 }
 .universe15 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe15 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe16{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe16 div{
    margin-left: 30px;
 }
 .universe16 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe16 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe17{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe17 div{
    margin-left: 30px;
 }
 .universe17 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe17 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe18{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe18 div{
    margin-left: 30px;
 }
 .universe18 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe18 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe19{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe19 div{
    margin-left: 30px;
 }
 .universe19 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe19 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .universe20{
    display: flex;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 140px;
    
 }
 .universe20 div{
    margin-left: 30px;
 }
 .universe20 div h3{
    width: 309.9px;
    height: 58.67px;
    font:24px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    font-weight: 600;
    margin-bottom: 0;
 }
 .universe20 div p{
    width: 309.9px;
    height: 82.79px;
    font:13.5px "Lato", Arial, Tahoma, sans-serif;
    color: #7c7c7c;
    line-height: 20px;
 }
 .support{
    display: flex;
    margin-left: 50px;
 }
 .support img{
    width: 197px;
    height: 185px;

 }
 .support h3{
    width: 312,9px;
    height: 46.33px;
    font-size: 2.2em;
    font-family:"Lato", Arial, Tahoma, sans-serif;
 }
 .support p{
    width: 312.9px;
    height: 64.79px;
    color: #7c7c7c;
    font:18px "Lato", Arial, Tahoma, sans-serif;
    line-height: 35px;
 }
 .magento{
    display: flex;
    margin-left: 50px;
 }
 .magento img{
    width: 197px;
    height: 185px;

 }
 .magento h3{
    width: 312,9px;
    height: 46.33px;
    font-size: 2.2em;
    font-family:"Lato", Arial, Tahoma, sans-serif;
 }
 .magento p{
    width: 312.9px;
    height: 64.79px;
    color: #7c7c7c;
    font:18px "Lato", Arial, Tahoma, sans-serif;
 }
 .container{
    display: flex;
 }
 .footer{
    width: 100%;
    height: 98px;
    background-color: #333;
    text-align: center;
    color: #fff;

}
.footer p{
    width:1170px ;
    height: 18px;
    color: #fff;
    padding-top: 40px;
    font-family: "Lato", Arial, Tahoma, sans-serif;
}
.footer p a{
    text-decoration: none;
    color: #eb5f60;
}
.footer p a:hover{
    text-decoration: 2px #eb5f60 underline;

}








